body {
  width: 100vw;
  overflow-x: hidden;
}

.menu-icon {
  display: none;
}

.popup {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 5214px;
  width: 100vw;
}

.popup-title-container {
  justify-content: space-between;
}

.popup-close-btn {
  color: #333;
  font-weight: 400;
  font-size: 40px;
}

.popup-container {
  top: 2%;
  left: 7%;
}

.popup-left-container {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(12, 1fr);
}

.popup-img-container {
  grid-column: 1 / 7;
}

.popup-description-container {
  grid-column: 7 / 12;
}

.popup-button {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  row-gap: 8px;
}

.popup-button a {
  height: 33px;
  background-color: #f55800;
  text-align: center;
}

.main-header {
  height: 48px;
  padding: 16px 25px 16px 0;
  width: 99vw;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.dev-name {
  padding: 10px 12px;
  font-size: 20px;
  line-height: 20px;
  width: 116px;
  font-family: "Inter", sans-serif;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.03em;
}

nav ul {
  display: flex;
  column-gap: 20px;
}

nav li {
  padding: 10px 12px;
  text-align: center;
  vertical-align: center;
}

.nav-bar li {
  border-bottom: none;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
  line-height: 20px;
  line-height: 110%;
  text-align: center;
  vertical-align: middle;
}

.headline {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 87px;
  padding: 0 36px;
}

.headline-top-section {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 120px 0;
}

.my-profile{
  display: block;
 margin: 3rem 6rem;
 animation: myAnim 1.5s cubic-bezier(0.55, 0, 1, 0.45) 1s infinite alternate-reverse both;
}

@keyframes myAnim {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-2px, -2px);
	}

	20% {
		transform: translate(2px, -2px);
	}

	30% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	50% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, -2px);
	}

	70% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	90% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}


.social-media {
  order: -1;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 250px 0;
  justify-content: center;
}

.social-media li :hover {
  transform: scale(1.1);
}

.headline .title {
  font-weight: 400;
  font-size: 72px;
  line-height: 81.8px;

  	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: counter 1s step-start infinite, 
    letter 5s steps(18) alternate infinite;
}


@keyframes counter {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes letter {
	0% { 
    width: 5.25ch;
  }
	100% { 
    width: 13.5ch; 
  }
}
.supporting {
  font-size: 32px;
  font-style: medium;
  letter-spacing: 0.03em;
  line-height: 44px;
}

.description {
  font-size: 20px;
  line-height: 32px;
  font-style: regular;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.work {
  margin: 0 24px;
  padding: 40px 24px;
}

.work-header {
  display: flex;
  justify-self: start;
  justify-content: center;
  align-items: baseline;
  column-gap: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.work-header .title {
  font-size: 40px;
  margin: 10px 10px;
}

.work-header hr {
  width: 794px;
  margin: 8px 0;
  height: 1px;
  padding-right: 100px;
}

.feature-section {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  padding: 15px;
  margin-top: 30px;
}

.feature-image {
  flex: 6;
}

.feature-image img {
  width: 100%;
}

.feature-image img:hover {
  transform: scale(0.95);
}

.story-section {
  flex: 4;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.story-title {
  font-size: 45px;
  line-height: 52px;
  text-align: center;
  color: #091e42;
}

.story-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
  gap: 24px;
  width: 98%;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  height: fit-content;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 16px 16px;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 15px 5px #8f8f8f;
  box-shadow: 5px 5px 15px 5px #8f8f8f;
  margin-bottom: 15px;
}

.card-title {
  display: block;
  color: #172b4d;
  text-align: center;
  padding: 2px;
  line-height: 1.5;
}

.card-body {
  margin: 15px;
  min-height: 280px;
}

.card-body img{
  width: 98%;
}


.card:hover {
  transform: scale(0.95);
  display: grid;
}

.card-button {
  align-self: flex-end;
  box-sizing: border-box;
  height: 58px;
  text-decoration: none;
  color: #fff;

  /* display: none; */
  padding: 10px;
  text-align: center;
  vertical-align: baseline;
}

.card-button:hover {
  text-decoration: none;
  color: #f55800;
}

.card:hover .card-button {
  display: block;
  width: 80%;
  height: 58px;
  text-align: center;
  margin-left: 15px;
}

.about {
  padding: 136px 0;
  width: 100%;
  margin-top: 120px;
}

.about-me {
  background-image: url("../image/desk-about-me.png");
  background-position: right 1px top;
  padding: 130px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: justify;
  height: fit-content;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  grid-column: 1 /4;
  margin-left: 142px;
}

.about-me-description {
  font-size: 20px;
  line-height: 32px;
  width: 686px;
}

.about-skill {
  display: flex;
  justify-content: space-around;
  padding: 141px 141px;
  height: auto;
}

.tech-language,
.tech-skill,
.tech-freamwork li {
  text-align: left;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 130px 0;
  column-gap: 48px;
  margin: 0 auto;
}

.form-title {
  grid-column: 2/5;
}

.form {
  grid-column: 6/13;
}

.form input {
  width: 684px;
}

.form input:focus {
  border: none;
}

.form textarea {
  height: 114px;
  width: 684px;
}

.submit-button {
  align-self: flex-start;
}

footer li:hover {
  position: relative;
  top: -30px;
  transform: translateY(10px);
}
