.menu-icon {
  display: none;
}

.main-header {
  height: 72px;
  padding: 16px 142px;
}

.dev-name {
  padding: 10px 12px;
  font-size: 20px;
  line-height: 20px;
  width: 116px;
  font-family: "Inter", sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

nav ul {
  display: flex;
  column-gap: 20px;
}
nav li {
  padding: 10px 12px;
  text-align: center;
  vertical-align: center;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
  line-height: 20px;
  line-height: 110%;
  text-align: center;
  vertical-align: middle;
}

.headline {
  height: 870px;
  background-image: url("../image/desktop.png");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: right 1px top 1px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 87px;
  padding: 0 36px;
}

.social-media {
  order: -1;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 300px 0;
  justify-content: center;
}

.headline-top-section {
  display: flex;
  flex-direction: column;
  width: 566px;
  padding: 192px 0;
}

.title {
  font-weight: 400;
  font-size: 72px;
  line-height: 81.8px;
}

.supporting {
  font-size: 32px;
  font-style: medium;
  letter-spacing: 0.03em;
  line-height: 44px;
}

.description {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.work {
  margin: 0 118px;
  border: 2px solid salmon;
  padding: 130px 24px;
}

.work-header {
  display: flex;
  column-gap: 24px;
}

.work-header .title {
  width: 315px;
}

.work-header hr {
  width: 794px;
  height: 1px;
}
