* {
  margin: 0;
  padding: 0;
}

.main-header {
  display: flex;
  flex-direction: row;
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 48px;
}

.dev-name {
  padding: 10px 0;
  flex-basis: 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  height: 100%;
  align-items: flex-start;
  background: #1c1a19;
  background-image: url("../image/arts.png");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: right 1px bottom -41px;
}

.title {
  font-weight: 400;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.37px;
  color: #f86c0d;
}

.supporting {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  vertical-align: baseline;
  margin: 12px 0;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 200;
  line-height: 24px;
  vertical-align: top;
  text-align: left;
}

.social-media {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  height: 40px;
  justify-content: flex-start;
}

.social-media li {
  list-style: none;
}

.work {
  padding: 120px 0;
  display: grid;
  align-items: center;
}

.work-header {
  margin-bottom: 80px;
  padding: 0 24px;
}

.work-header .title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 28px;
  color: #1c1a19;
  height: 83px;
}

.work-section {
  display: grid;
  row-gap: 24px;
}

.feature-section {
  display: grid;
  align-items: flex-start;
  padding: 0 24px;
  row-gap: 12px;
}

.feature-image {
  margin-bottom: 12px;
  width: 327px;
}

.story-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #091e42;
  line-height: 44px;
}

.story-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

ul {
  list-style: none;
}

.tools {
  display: flex;
  width: 297px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
}

.tools li {
  padding: 10px 12px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
}

.story-button {
  width: 124px;
  height: 48px;
  padding: 12px;
  border: none;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.card-section {
  padding: 0 24px;
  display: grid;
  row-gap: 24px;
}

.card {
  color: #fff;
  background-image: url("../image/background.png");
  background-size: cover;
  height: 386px;
}

.card-body {
  padding: 8px 16px;
  margin-top: 76px;
  display: grid;
  row-gap: 12px;
}

.card-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.card-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.tech-tools {
  display: flex;
  width: 236px;
  justify-content: space-between;
}

.tech-tools li {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.card-button {
  height: 48px;
  width: 327px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  border: none;
  background-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}
