* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.popup {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  position: absolute;
  top: 51px;
  right: 5px;
  width: 100vw;
  height: 5214px;
}

.popup-title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popup-close-btn {
  color: #333;
  font-weight: 400;
  font-size: 40px;
}

.popup-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: absolute;
  left: 5%;
  background-color: #fff;
  width: 84vw;
  padding: 16px 16px 24px 16px;
}

.popup-img {
  width: 95%;
}

.popup-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.popup-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#btn-live {
  margin-right: 8px;
}

.btn-close {
  align-self: flex-end;
  color: #fff;
  margin-top: 16px;
  display: none;
}

.nav-bar li {
  border-bottom: 1px solid #6f6c6b;
  padding: 16px;
}

.nav-bar a {
  color: #fff5e1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

nav ul {
  display: none;
}

.desk-card-title {
  display: none;
}

.main-header {
  display: flex;
  flex-direction: row;
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 48px;
}

.dev-name {
  padding: 10px 0;
  flex-basis: 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  height: 100%;
  align-items: flex-start;
  background: #1c1a19;
  background-image: url("../image/arts.png");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: right 1px bottom -41px;
}

.title {
  font-weight: 400;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.37px;
  color: #f86c0d;
}

.supporting {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  vertical-align: baseline;
  margin: 12px 0;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 200;
  line-height: 24px;
  vertical-align: top;
  text-align: left;
}

.social-media {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  height: 40px;
  justify-content: flex-start;
}

.social-media li {
  list-style: none;
}

.work {
  padding: 120px 0;
  display: grid;
  align-items: center;
}

.work-header {
  padding: 0 24px;
}

.work-header .title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 28px;
  color: #1c1a19;
  height: 83px;
}

.work-section {
  display: grid;
  row-gap: 24px;
}

.feature-section {
  display: grid;
  align-items: flex-start;
  padding: 0 24px;
  row-gap: 12px;
}

.feature-image {
  margin-bottom: 12px;
  width: 327px;
}

.story-section {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.story-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #091e42;
  line-height: 44px;
}

.story-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.tools {
  display: flex;
  width: 297px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
}

.tools li {
  padding: 10px 12px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
}

.story-button {
  width: 124px;
  height: 48px;
  padding: 10px;
  border: none;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.story-button:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.story-button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: none;
}

.story-button:active {
  background-color: #e05304;
  color: #fff;
}

.card-section {
  padding: 0 24px;
  display: grid;
  row-gap: 24px;
}

.card {
  color: #fff;

  /* background-image: url("../image/background.png"); */
  background-size: cover;
  height: 386px;
}

.card-body {
  /* padding: 8px 16px;
  margin-top: 76px;
  display: grid;
  row-gap: 12px; */
}

.card-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #091e42;
}

.card-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #172b4d;
  letter-spacing: 0.03em;
  padding: 5px;
  text-align: center;
}

.tech-tools {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: space-between;
  margin: 10px auto;
  column-gap: 2px;
}

.tech-tools li {
  background: hsla(218, 76%, 15%, 0.144);
  padding: 10px 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.emptyStack {
  display: none;
}

.card-button {
  height: 48px;
  width: 100%;
  border-radius: 0;
  border: none;
  background-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  display: block;
}

.card-button:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.card-button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: none;
}

.card-button:active {
  background-color: #e05304;
  color: #fff;
}

.about {
  padding: 120px 24px;
  background-color: #1c1a19;
  display: grid;
  align-items: flex-start;
  row-gap: 24px;
}

.about-me {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-image: url("../image/about.png");
  background-repeat: no-repeat;
  background-position: bottom -10px right 7px;
  height: 420px;
}

.about-me-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  letter-spacing: 0.03em;
}

.about-me-button {
  padding: 12px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  width: 161px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.about-me-button:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.about-me-button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: none;
}

.about-me-button:active {
  background-color: #e05304;
  color: #fff;
}

.about-skill {
  padding: 120px 24px;
  color: white;
  text-align: center;
}

.tech-language,
.tech-skill,
.tech-freamwork {
  display: grid;
  row-gap: 32px;
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  letter-spacing: 0.03em;
}

.first {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.form-section {
  background: #fff;
  padding: 120px 24px;
  display: grid;
  row-gap: 58px;
}

.form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.03em;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.form input {
  box-sizing: border-box;
  width: 327px;
  height: 48px;
  padding: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

.form textarea {
  padding: 12px;
  width: 327px;
  color: #3c3a39;
  font-weight: 500;
  height: 114px;
  font-style: bold;
  background: #fbf8f7;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  box-sizing: border-box;
  border: none;
}

.submit-button {
  align-self: center;
  width: 131px;
  padding: 12px;
  background: #ff6b00;
  height: 48px;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.form textarea:focus {
  border: 2px solid steelblue;
}

.submit-button:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
  width: 135px;
}

.submit-button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: none;
}

.submit-button:active {
  background-color: #e05304;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  height: 40px;
  justify-content: flex-start;
  color: #1c1a19;
}

.footer-social-media img {
  background-color: #091e42;
  margin-right: 10px;
}

.error-message {
  color: red;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
